@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  scroll-behavior: smooth;
}
body {
  background: rgb(15 23 42/71);
}
.croTool img {
  -webkit-filter: drop-shadow(12px 12px 7px rgba(229, 235, 168, 0.7));
  filter: drop-shadow(1px 1px 1px rgba(229, 235, 168, 0.7));
  max-width: 100%;
  transform: rotateZ(-10deg);
  margin: auto ;
  margin-bottom: 3em;
}
.croTool img:nth-child(odd){
  transform: rotateZ(10deg);
}
.gallery > div{
  position: relative;
}
.overlay{
  font-style: italic;
  letter-spacing: 2px;
}
.gallery > div:hover .overlay{
  right: 0;
  transition: 0.5s ease-in-out;
}
.galleryModal{
  position: fixed;
  /* width: 60%; */
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgb(255, 255, 255);
  background: #2e323c;
  padding: 1em;
  z-index: 99;
}
.galleryModal>div:nth-child(1){
  min-height: 100%;
}
.galleryModal > div{
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  letter-spacing: 2px;
}
.galleryModal img{
  height: 100%;
}
.backdrop{
  position: fixed;
  width: 100%;
  background: #505987cf;
  height: 100%;
  top: 0;
  z-index: 99;
  left: 0;
}
.advertise{
  background: url("https://i.ibb.co/ky687Qn/abstract-decorative-blue-wave-banner-design-1055-9614.jpg");
}