@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background: #2a2c39; */
  background: rgb(15 23 42/71);
}
.croTool img {
  -webkit-filter: drop-shadow(12px 12px 7px rgba(229, 235, 168, 0.7));
  filter: drop-shadow(2px 1px 2px rgba(229, 235, 168, 0.7));
  animation-name: croTool;
  animation-duration: 1s;
}

@keyframes croTool {
  from {
    transform: translateY(30deg);
  }

  to {
    transform: translateY(-30deg);
  }
}